<div class="container">
  <div class="trainings">
    @if(!userData.trainings || userData.trainings == null){
    <div class="empty">
      <h2>There is no training to show</h2>
    </div>
    }
    @else {
    <div class="trainings-container">
      @for (training of userData.trainings; track training.name; let id = $index){
      <af-tile [darkMode]="!(training.forDelete && removalMode)" (click)="selectForDeletion(training)">
        <div class="trainings-container--single"
          [ngClass]="{'for-delete':training.forDelete && removalMode, 'removal-mode': removalMode}">
          <h2>{{id + 1}}. {{training.name}}</h2>
          <h3>{{training.description}}</h3>
          @for(exercise of training.exercises; track exercise){
          <li>{{exercise}}</li>
          }
        </div>
      </af-tile>
      }
      
    </div>
    }
  </div>
  <div class="menu">
    <af-button label="Add Training" (click)="addWorkout()" />
    @if(userData.trainings || userData.trainings != null){
    <af-button label="Remove Training" (click)="activeRemoveMode()" [whiteButton]="removalMode" />
    }
    @if(removalMode){
    <af-button label="Remove" (click)="removeWorkouts()" [disabled]="isTrainingMarkedForDelete" />
    }
  </div>
</div>
<af-validation-message />
