<p-table 
  [(first)]="firstPage" 
  [columns]="columns" 
  [value]="values" 
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="paginator" 
  [rows]="rows" 
  [dataKey]="dataKey"
  [loading]="loading"
  [sortField]="sortField" 
  [sortOrder]="sortOrder">
  <ng-template pTemplate="header" let-columns>
    <tr class="header">
      <th *ngFor="let header of columns" class="header-template ">
        {{header.header}}
      </th>

      <th class="header-template action-buttons">
        Edit
      </th>
    
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr class="row" selectionMode="single">
      <td *ngFor="let col of columns" class="row-template" [ngClass]="{'border-bottom-row': !paginator}">
        {{ formatIfDateString(rowData[col.field]) }}
      </td>
   
        <td class="row-template action-buttons" >
          <af-button iconClassName="pi-pencil" iconPos="top" (onClick)="edit(rowData)" [iconSize]="7" [fontSize]="0"
            [transparentButton]="true" />
          <af-button iconClassName="pi-trash" iconPos="top" (onClick)="delete(rowData)" [iconSize]="7" [fontSize]="0"
            [transparentButton]="true" />
        </td>
      
    </tr>
  </ng-template>
</p-table>