<div class="container">
  <div class="diets">
    <af-diet-tile
      [diets]="diets()"
      [activationMode]="activationMode"
      [removalMode]="removalMode" />
  </div>
  <div class="menu">
    <p class="active-diet-name">
      @if(diets()! | activeStatus){
      Active diet is: {{(diets()! | activeStatus).title}}
      }
      @else {
      <span class="deactive">There is no active diet</span>
      }
    </p>
    <af-button label="Add diet" (onClick)="addDiet()" />
    @if(diets() || diets() != null){
    <af-button
      label="Remove Diet"
      (onClick)="activeRemoveMode()"
      [whiteButton]="removalMode" />
    <af-button
      label="Active diet"
      (onClick)="activeActivationMode()"
      [whiteButton]="activationMode" />
    } @if(removalMode){
    <af-button
      label="Remove"
      (onClick)="removeDiet()"
      [disabled]="diets()! | dietStatus:'forDelete' " />
    } @if(activationMode){
    <af-button
      label="Update"
      (onClick)="activeDiet()" />
    }
  </div>
</div>
