<div class="container">
  <div class="diets">
    <af-diet-tile
      [activationMode]="activationMode"
      [removalMode]="removalMode" />
  </div>
  <div class="menu">
    <p class="active-diet-name">
      @if(userData().diets! | activeStatus){
      Active diet is: {{(userData().diets! | activeStatus).title}}
      }
      @else {
      There is no active diet
      }
    </p>
    <af-button label="Add diet" (onClick)="addDiet()" />
    @if(userData().diets || userData().diets != null){
    <af-button
      label="Remove Diet"
      (click)="activeRemoveMode()"
      [whiteButton]="removalMode" />
    <af-button
      label="Active diet"
      (click)="activeActivationMode()"
      [whiteButton]="activationMode" />
    } @if(removalMode){
    <af-button
      label="Remove"
      (click)="removeDiet()"
      [disabled]="userData().diets! | dietStatus:'forDelete' " />
    } @if(activationMode){
    <af-button
      label="Update"
      (click)="activeDiet()"
      [disabled]="userData().diets! | dietStatus:'active' " />
    }
  </div>
</div>
