
  <div class="active-pass">
    <p>Your active gym pass: <span class="active-pass-name" *ngIf="!userData.activeGymPass; else noActivePass">{{('gymPass.' + userData.gympassName+'Pass' + '.header') | translate }}</span></p>
    <div class="gym-pass-cards">
      <ng-container *ngFor="let gymPass of gymPasses">
        <div class="gym-pass-card">
          <af-gym-pass-card 
            [title]="('gymPass.' + gymPass.name+'Pass' + '.header') | translate"
            [subtitle]="'gymPass.' + gymPass.name+'Pass' + '.subtitle' | translate" 
            [price]="gymPass.price + 'zł'"
            [name]="gymPass.name" 
            [buttonId]="gymPass.name"
            [smallerCard]="true"></af-gym-pass-card>
        </div>
      </ng-container>
    </div>
  </div>

<ng-template #noActivePass>
    <span class="active-pass-inactive">no active gym pass</span>
  </ng-template>
