@import "../../../../stories/constants/constants.scss";

.active-pass{
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    // justify-content: space-between;
    &-label {
        color: $input-text-dark;
        font-weight: $font-weight-bold;
        font-size: 42px;
        text-align: center;
        margin-bottom:30px ;
        .active-pass-name{
            color: $input-main-color;
        }
       
    }
    &-inactive{
        color: red;
    }
    .gym-pass-cards{
        display: flex;

        width: 100%;
        gap: 30px;
       .gym-pass-card{
        width: 30%;
       }
    }
    .deactive-pass {
        color: $input-text-dark;
        font-weight: $font-weight-bold;
    }
}

.no-active-pass {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    p {
        font-size: 54px;
        font-weight: $font-weight-bold;
        &.change-gyp-pass-button{
            cursor: pointer;
            color: $input-text-dark;
            font-weight: $font-weight-bold;
        }
    }

}
.deactive-pass{
    display: flex;
    justify-content: center;
    align-items: center;

}
.validoation__container {
    position: fixed;
    top: 50px;
    right:20px;
    z-index: 10001;
    }
