@import "../../../../stories/constants/constants.scss";

.no-active-pass {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    p {
        font-size: 54px;
        font-weight: $font-weight-bold;
    }
}