@import "../../../shared/styles/constants.scss";

.container {
  position: relative;
  margin-right: 10px;

  .close-button {
    position: fixed;
    top: 20px;
    right: 30px;
  }

  h2 {
    font-size: 36px;
    margin: 30px;
    text-align: center;
  }


  .post-photo {

    display: block;
    border-radius: 20px;
    height: 400px;
    width: 75%;
    margin: 0 auto;
    border: 4px solid $input-main-color;
    object-fit: cover;
  }

  .content {
    width: 60%;
    margin: 30px auto 0 auto;
    border-top: 1px solid $input-main-color;
    min-height: 30vh;

    &--text {
      margin: 20px 0;
      font-size: 20px;
      text-indent: 20px;
    }


  }

  .createAt {
    padding-top: 5px;
    padding-left: 5px;
    font-style: italic;
  }
}

::ng-deep .p-dialog {
  background: rgba(255, 255, 255, 0.9);

  .p-dialog-header {
    display: none;
    // background: transparent;
  }

  .p-dialog-content {
    border-radius: 20px;
    margin: 10px;
    background-color: transparent;
  }

}