@import "../../../../../../shared/styles/constants.scss";

.diets {
    height: 100%;
    flex-grow: 4;
    overflow-y: auto;
    padding: 20px;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $input-border-color;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: $input-main-color;
    }

    &-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &--single {
            padding: 20px;

            .active {
                color: $input-main-color;
            }

            &.removal-mode {
                cursor: pointer;
            }

            &.activation-mode {
                cursor: pointer;
            }

            &.for-delete {
                color: $input-text-dark;
            }
        }
    }
}