<form [formGroup]="dynamicForm" >
    <div class="form-control-renderer">
    @for (formControl of formGroup; track formControl) {
        @switch(formControl.type){

            @case ("text") {
                <af-input />
            }
            @case ("password") {
                <af-password />
            }
            @case ("checkbox") {
                <af-checkbox />
            }
            @case ("radioButtons") {
                <!-- <af-radio-buttons [categories]="formControl.options"/> -->
            }
            @case ("textarea") {
                <af-textarea />
            }
            <!-- @case ("calendar") {
                <af-calendar />
            } -->
        }
    }
</div>
   <div class="form-button-renderer">
    <af-button type="submit" [label]="submitButtonLabel" [fontSize]="16"/>
    <af-button  [label]="cancelButtonLabel" [fontSize]="16"/>
    <af-button  [label]="resetButtonLabel" [fontSize]="16"/>
   </div>
</form>