<section class="navigation_container">
  <div class="navigation_container">
    <div class="navigation_container__hamburger">
      <i class="pi pi-bars"></i>
    </div>
    <div class="navigation_container--logo__brand">
      <a href="#" class="navigation_container--logo__brand__link">
        <img src="../../../assets/logo/logoLight.svg" alt="Ambasada Formy"
          class="navigation_container--logo__brand__link__photo">
      </a>
    </div>
    <div class="navigation_container--logo__header">
      <h2>Ambasada Formy</h2>
    </div>
  </div>
  <div class="navigation_content">
    <p>Start</p>
    <p>Karnety</p>
    <p>Trening</p>
    <p>Blog</p>
  </div>
  <div class="navigation_fetures">
    <div class="navigation_fetures--detail">
      <i class="pi pi-language"></i>
    </div>
    <div class="navigation_fetures--detail">
      <i class="pi pi-user"></i>
    </div>
  </div>
  <div class="navigation_container--details">
    <div class="navigation_container--details__item">
      <p>Przegląd karnetów</p>
      <p>Przegląd trenerów</p>
      <p>Przegląd aktywności</p>
      <p>Przegląd osiągnięć</p>
    </div>
    <div class="navigation_container--details__item">
      <p>Karnet ROZWÓJ</p>
      <p>Karnet ZABAWA</p>
      <p>Karnet ZDROWIE</p>
    </div>
    <div class="navigation_container--details__item">
      <p>Trenerzy</p>
      <p>Trening</p>
    </div>
    <div class="navigation_container--details__item">
      <p>Diety</p>
      <p>Dania</p>
    </div>
    <div class="navigation_container--details__profile">
      <p>Mój profil</p>
    </div>

  </div>

</section>
