<section class="navigation_container">
      <div class="navigation_container--logo">
          <div class="navigation_container--logo__brand">
              <a href="#" class="navigation_container--logo__brand__link">
                  <img src="../../../assets/logo/logoLight.svg" alt="Ambasada Formy" class="navigation_container--logo__brand__link__photo">
              </a>
          </div>
          <div class="navigation_container--logo__header">
              <h2>
                {{"footer.header"| translate}}
              </h2>
          </div>
      </div>
     <div class="navigation_content">
        <p>{{"MenuPage.start"| translate}}</p>
        <p>{{"MenuPage.passes"| translate}}</p>
        <p>{{"MenuPage.workouts"| translate}}</p>
        <p>{{"MenuPage.blog"| translate}}</p>
     </div>
     <div class="navigation_fetures">
        <div class="navigation_fetures--detail">
            <i class="pi pi-language"></i>
        </div>
        <div class="navigation_fetures--detail">
            <i class="pi pi-user"></i>
        </div>
     </div>
     <div class="navigation_container--details">
        <div class="navigation_container--details__item">
            <p>{{"MenuPage.showpasses"| translate}}</p>
            <p>{{"MenuPage.showtrainers"| translate}}</p>
            <p>{{"MenuPage.showactivities"| translate}}</p>
            <p>{{"MenuPage.showachievements"| translate}}</p>
         </div>
         <div class="navigation_container--details__item">
            <p>{{"MenuPage.passdevelopment"| translate}}</p>
            <p>{{"MenuPage.passfun"| translate}}</p>
            <p>{{"MenuPage.passhealth"| translate}}</p>
         </div>
         <div class="navigation_container--details__item">
            <p>{{"MenuPage.Trainers"| translate}}</p>
            <p>{{"MenuPage.workouts"| translate}}</p>
         </div>
         <div class="navigation_container--details__item">
            <p>{{"MenuPage.diet"| translate}}</p>
            <p>{{"MenuPage.dishes"| translate}}</p>
         </div>
         <div class="navigation_container--details__profile">
           <div>
            <p>{{"MenuPage.profile"| translate}}</p>
            <div class="navigation_container--details__language">
                <button (click)="changeLanguage('pl')"><img src="../../../assets/backgrounds/flags/pl.png" alt="pl"></button>
                <button (click)="changeLanguage('en')"><img src="../../../assets/backgrounds/flags/en.png" alt="en"></button>
            </div>
           </div>
         </div>
        
     </div>
     
</section>
