<section class="navigation_container">
  <div class="navigation_container--logo">
    <div class="navigation_container__hamburger" (click)="toggleMenu($event)">
      <i class="pi pi-bars"></i>
    </div>
    <div class="navigation_container__wrapper">
      <div class="navigation_container__hamburger__options" [class]="isMenuOpen ? 'navigation_container__hamburger__options--active':''">
        <p>{{"MenuPage.profile"| translate}}</p>
        <p (click)="toggleDetails('start')" [ngClass]="{'active': activeOption === 'start'}">{{"MenuPage.start"| translate}}<i class="pi pi-angle-right"></i></p>
        <div class="navigation_container__hamburger__options--details" [ngClass]="{'active': activeOption === 'start'}">
          <p>{{"MenuPage.showpasses"| translate}}</p>
          <p>{{"MenuPage.showtrainers"| translate}}</p>
          <p>{{"MenuPage.showactivities"| translate}}</p>
          <p>{{"MenuPage.showachievements"| translate}}</p>
        </div>
        <p (click)="toggleDetails('karnety')" [ngClass]="{'active': activeOption === 'karnety'}">{{"MenuPage.passes"| translate}}<i class="pi pi-angle-right"></i></p>
        <div class="navigation_container__hamburger__options--details" [ngClass]="{'active': activeOption === 'karnety'}">
          <p>{{"MenuPage.passdevelopment"| translate}}</p>
          <p>{{"MenuPage.passfun"| translate}}</p>
          <p>{{"MenuPage.passhealth"| translate}}</p>
        </div>
        <p (click)="toggleDetails('trening')" [ngClass]="{'active': activeOption === 'trening'}">{{"MenuPage.workouts"| translate}}<i class="pi pi-angle-right"></i></p>
        <div class="navigation_container__hamburger__options--details" [ngClass]="{'active': activeOption === 'trening'}">
          <p>{{"MenuPage.Trainers"| translate}}</p>
          <p>{{"MenuPage.workouts"| translate}}</p>
        </div>
        <p (click)="toggleDetails('blog')" [ngClass]="{'active': activeOption === 'blog'}">{{"MenuPage.blog"| translate}}<i class="pi pi-angle-right"></i></p>
        <div class="navigation_container__hamburger__options--details" [ngClass]="{'active': activeOption === 'blog'}">
          <p>{{"MenuPage.diet"| translate}}</p>
          <p>{{"MenuPage.dishes"| translate}}</p>
        </div>
      </div>
    </div>

      <div class="navigation_container--logo">
          <div class="navigation_container--logo__brand">
              <a href="#" class="navigation_container--logo__brand__link">
                  <img src="../../../assets/logo/logoLight.svg" alt="Ambasada Formy" class="navigation_container--logo__brand__link__photo">
              </a>
          </div>
          <div class="navigation_container--logo__header">
              <h2>
                {{"footer.header"| translate}}
              </h2>
          </div>
        </div>
      </div>
     <div class="navigation_content">
        <p (click)="startEmit()">{{"MenuPage.start"| translate}}</p>
        <p (click)="gymPassEmit()">{{"MenuPage.passes"| translate}}</p>
        <p (click)="workoutsEmit()">{{"MenuPage.workouts"| translate}}</p>
        <p (click)="blogEmit()">{{"MenuPage.blog"| translate}}</p>

     </div>
     <div class="navigation_fetures">
        <div class="navigation_fetures--detail">
            <i class="pi pi-language"></i>
        </div>
        <div class="navigation_fetures--detail">
            <i class="pi pi-user"></i>
        </div>
        <div class="navigation_fetures--detail__language">
          <button (click)="changeLanguage('pl')"><img src="../../../assets/backgrounds/flags/pl.png" alt="pl"></button>
          <button (click)="changeLanguage('en')"><img src="../../../assets/backgrounds/flags/en.png" alt="en"></button>
      </div>
     </div>
     <div class="navigation_container--details">
        <div class="navigation_container--details__item">
            <p>{{"MenuPage.showpasses"| translate}}</p>
            <p>{{"MenuPage.showtrainers"| translate}}</p>
            <p>{{"MenuPage.showactivities"| translate}}</p>
            <p>{{"MenuPage.showachievements"| translate}}</p>
         </div>
         <div class="navigation_container--details__item">
            <p>{{"MenuPage.passdevelopment"| translate}}</p>
            <p>{{"MenuPage.passfun"| translate}}</p>
            <p>{{"MenuPage.passhealth"| translate}}</p>
         </div>
         <div class="navigation_container--details__item">
            <p>{{"MenuPage.Trainers"| translate}}</p>
            <p>{{"MenuPage.workouts"| translate}}</p>
         </div>
         <div class="navigation_container--details__item">
            <p>{{"MenuPage.diet"| translate}}</p>
            <p>{{"MenuPage.dishes"| translate}}</p>
         </div>
         <div class="navigation_container--details__profile">
           <div>
            <p (click)="profileEmit()">{{"MenuPage.profile"| translate}}</p>
            <div class="navigation_container--details__language">
                <button (click)="changeLanguage('pl')"><img src="../../../assets/backgrounds/flags/pl.png" alt="pl"></button>
                <button (click)="changeLanguage('en')"><img src="../../../assets/backgrounds/flags/en.png" alt="en"></button>
            </div>
            <p (click)="logoutEmit()">{{"MenuPage.logout"| translate}}</p>
           </div>
         </div>

     </div>

</section>
