<section class="profile__container" *ngIf="userData$ | async as user">
  <div class="profile__navigation">
    <af-tile [darkMode]="true">
      <div class="profile__navigatio--logo">
        <img src="../../../assets/logo/logoLightText.svg">
      </div>
    </af-tile>
    <af-tile>
      <div class="profile__navigation--information">
        <div class="profile__navigation--information--main">
          <div class="profile__navigation--information--main--avatar">
          </div>
          <div class="profile__navigation--information--main--fullname">
            <div class="profile__navigation--information--main--fullname--name">
              {{user.firstName}}
            </div>
            <div class="profile__navigation--information--main--fullname--lastname">
              {{user.lastName}}
            </div>
          </div>
        </div>
        <div class="profile__navigation--information--other">
          <div class="profile__navigation--information--other--login">
            {{user.email}}
          </div>
          <div class="profile__navigation--information--other--role">
            <ng-container [ngSwitch]="user.permission">
              <p *ngSwitchCase="'coach'">Trener</p>
              <p *ngSwitchCase="'admin'">Administrator</p>
              <p *ngSwitchDefault>Klient</p>
            </ng-container>
          </div>
        </div>
      </div>
    </af-tile>
    <af-tile>
      <div class="profile__navigation--navi-bar">
        <!-- <div class="navi-item">
          <i class="pi pi-user"></i> Mój profil
        </div>
        <div class="navi-item">
          <i class="pi pi-ticket"></i> Moje karnety
        </div>
        <div class="navi-item">
          <i class="pi pi-ticket"></i> Treningi personalne
        </div>
        <div class="navi-item">
          <i class="pi pi-ticket"></i> Diety
        </div> -->
        <div class="navi-item-logout">
          <af-button iconClassName="pi-sign-out" [label]="'Wyloguj'" [whiteButton]="true" (onClick)="logout()"></af-button>
        </div>
      </div>
    </af-tile>
  </div>
  <div>
    <af-tile>
      <div class="profile__information">
        <div class="profile__information--left">
          <h1>Mój profil</h1>
          <div class="profile__information--left--data">
            <h2>Moje dane:</h2>
            <ul>
              <li>{{user.firstName}} {{user.lastName}}</li>
              <li>{{user.login}}</li>
              <li>{{user.email}}</li>
            </ul>
          </div>
          <div class="profile__information--left--contact">
            <h2>Dane kontaktowe:</h2>
            <ul>
              <li>Imie Nazwisko</li>
              <li>ul.</li>
              <li>poczta</li>
              <li>tel</li>
            </ul>
          </div>
          <div class="profile__information--left--invoice">
            <h2>Dane do faktury:</h2>
            <ul>
              <li>Imie Nazwisko</li>
              <li>ul</li>
              <li>poczta</li>
              <li>email@email.pl</li>
              <li>tel</li>
            </ul>
          </div>
        </div>
        <div class="profile__information--right">
          <af-button [label]="'Zmień hasło'" [whiteButton]="true" class="btn-white"></af-button>
          <af-button [label]="'Edytuj'"></af-button>
        </div>
      </div>
      <div class="delete__account">
        <af-button [whiteButton]="true" [label]="'USUŃ KONTO'" iconClassName="pi pi-user-minus" class="btn-white" (onClick)="removeUser('1')"></af-button>
      </div>
    </af-tile>
  </div>
</section>
<ng-template #noData>
  nie ma danych
</ng-template>