<section class="profile" >
  <div class="profile__navigation">
    <af-tile [darkMode]="true">
      <div class="profile__navigatio--logo">
        <img src="../../../assets/logo/logoLightText.svg">
      </div>
    </af-tile>
    <af-tile>
      <div class="profile__navigation--information" *ngIf="userData$ | async as user">
        <div class="profile__navigation--information--main">
          <div class="profile__navigation--information--main--avatar">
            <img src="" alt="">
          </div>
          <div class="profile__navigation--information--main--fullname">
            <p class="first-name">{{user.firstName}}</p>
            <p class="last-name">{{user.lastName}}</p>
          </div>
        </div>
        <div class="profile__navigation--information--other">
          <p class="profile__navigation--information--other--login">{{user.email}}</p>
          <div class="profile__navigation--information--other--role">
            <ng-container [ngSwitch]="user.permission">
              <p *ngSwitchCase="'coach'">Trener</p>
              <p *ngSwitchCase="'admin'">Administrator</p>
              <p *ngSwitchDefault>Klient</p>
            </ng-container>
          </div>
        </div>
      </div>
    </af-tile>
    <af-tile>
      <div class="profile__navigation--navi-bar">
        <div class="navi-item" routerLink="my-profile" routerLinkActive="active">
          <i class="fa-solid fa-user" style="font-size: 2rem"></i> Mój profil
        </div>
        <div class="navi-item" routerLink="gym-pass" routerLinkActive="active">
          <i class="fa-solid fa-ticket"  style="font-size: 2rem"></i> Moje karnety
        </div>
        <div class="navi-item" routerLink="personal-trainers" routerLinkActive="active">
          <i class="fa-solid fa-dumbbell"  style="font-size: 2rem"></i> Treningi personalne
        </div>
        <div class="navi-item" routerLink="diets" routerLinkActive="active">
          <i class="fa-solid fa-utensils" style="font-size: 2rem"></i> Diety
        </div>
        <div class="navi-item--bottom">
            <af-button iconClassName="pi-undo" [label]="'button.back' | translate" (onClick)="undo()"></af-button>
            <af-button iconClassName="pi-sign-out"[label]="'button.logout' | translate" (onClick)="logout()"></af-button>
        </div>
      </div>
    </af-tile>
  </div>
  <div>
    <af-tile class="strech_element--vertically">
      <section class="profile__container">
        <router-outlet></router-outlet>
      </section>
    </af-tile>
  </div>
</section>
<ng-template #noData>
  nie ma danych
</ng-template>