<section class="blog">
    <div class="navi-bar">
        <af-menuStatic></af-menuStatic>
    </div>
    <section class="blog__container">
        <img class="logo" src="../../../assets/logo/logoLightText.svg" alt="logo">
        <h2 class="blog__container--header">{{"blog.posts" | translate}}</h2>
        <div class="blog__container--search">
            <af-tile>
                <form [formGroup]="searchForm">
              <div class="blog__container--search--content">
               <div class="reset">
                <af-button [label]="'blog.search.reset' | translate" (onClick)="loadDefault()" [fontSize]="10" iconClassName="pi-undo" iconPos="top" [transparentButton]="true"></af-button>
               </div>
                <div class="inputs">
                    <af-input formControlName="title" [iconConfig]="searchIconConfig" [floatLabel]="true" [floatLabelText]="'blog.search.title' | translate"></af-input>
                    <af-input formControlName="userName" [iconConfig]="searchIconConfig" [floatLabel]="true" [floatLabelText]="'blog.search.user' | translate"></af-input>
               </div>
               <div class="buttons">
                <af-button [label]="'blog.search.searchLabel' | translate" (onClick)="search()"></af-button>
               <af-button [label]="'blog.addPost' | translate" iconClassName="pi pi-plus" (onClick)="addNewPost()"></af-button>
               </div>
              </div>
            </form>
            </af-tile>
        </div>
        <div *ngFor="let post of posts" class="blog__container--post">
            <af-tile>
           <div class="blog__container--post-content">
            <div class="blog__container--post-content-img">
                <div *ngIf="post.photo; else defaultAvatar" class="avatar">
                    <img class="custom-avatar" [src]="'data:image/jpeg;base64,' + post.photo" alt="Post Photo" />
                  </div>
                <ng-template #defaultAvatar>
                    <img src="../../../assets/backgrounds/jedzonko.png" alt="image">
                </ng-template>
            </div>
            <div class="blog__container--post-content-text">
                <h4 class="header">{{post.title}}</h4>
                <p class="subheader"><span class="quotes">&bdquo;</span>{{post.userName}}<span class="quotes">&rdquo;</span></p>
                <p class="content">{{post.content}}</p>
            </div>
           </div>
            </af-tile>
        </div>
        <div class="blog__container--paginator">
            <p-paginator 
        (onPageChange)="onPageChange($event)" 
        [rows]="pageSize" 
        [totalRecords]="totalRecords"  
        />
        </div>
    </section>
    <af-footer></af-footer>
</section>
<div class="validoation__container">
    <af-messages [closable]="true"></af-messages>
</div>