@import "./../../constants/constants.scss";

:host(.strech_element--vertically) {
  .tile_container{
    display: block;
    height: 100%;
  }
  
  
}
.tile_container {
  overflow: hidden;
  box-shadow: 0 0 20px 1px $darker-gray;
  border-radius: 15px;
  min-width: 100px;
  min-height: 100px;

  &--light {
    background-color: $background-white-opacity;
  }

  &--dark {
    background-color: $darker-gray;
  }
}
