<div class="row">
  <div class="container">
    <div class="slajdy">
      <p>slajdy</p>
    </div>
    <div class="panel__login-register">
      <div class="center__panel">
        <af-button [label]="'Logowanie'" (click)="goToLogin()"></af-button>
      </div>
      <div class="center__panel">
        <af-button [label]="'Rejestracja'" (click)="goToRegister()"></af-button>
      </div>
    </div>
    <div class="signUs">
      <h3>Dołącz do nas</h3>
    </div>
    <div class="other">
      <h3>Praca, efekty, cele</h3>
    </div>
  </div>
</div>