@import "../shared/styles/constants.scss";;

.backgroud {
  background-image: url('../../assets/backgrounds/AF-desktop-main-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .header{
    @include header-style;
  }

.navi-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1001;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  height: 40vh;
}

.trainers {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;  
  padding: 50px; 

  .trainer{
    padding-bottom: 10px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    &>div{
    padding: 10px;
    cursor: default;
    }
    &-name{
        flex: 1;
        width: 100%;
        background-color: $background-dark;
        color: $input-text-accent;
        font-weight: $font-weight-bold;
        font-size: 32px;
        text-align: center;
        &--info{
            margin-top: 40px;
            font-size: 20px;
        }
    }
    &-info{
        flex: 2;
        font-size: 18px;
        h3{
            padding-top: 8px;
        }
    }
  }
  
}
}