<div class="backgroud">
  <div class="navi-bar">
    <af-menuStatic></af-menuStatic>
  </div>
  <img class="logo" src="../../../assets/logo/logoLightText.svg" alt="logo">
  <section class="trainers">
    <ng-container *ngIf="trainers$ | async as trainers">
      <af-tile *ngFor="let trainer of trainers">
        <div class="trainer">
          <div class="trainer-name">
            <p> {{trainer.firstName}} {{trainer.lastName}}</p>
            <p class="trainer-name--info"> Koszt wynajęcia trenera ustalacie indywidualnie</p>
          </div>
          <div class="trainer-info">
           
            <h3>Kontakt:</h3>
            <p><strong>Email:</strong> {{trainer.email}}</p>
            <p><strong>Numer Telefonu:</strong> {{trainer.phoneNumber}}</p>
          </div>
        </div>
      </af-tile>
    </ng-container>
  </section>
  <af-footer></af-footer>
</div>