<section>
  <p-password
    [(ngModel)]="value4"
    [weakLabel]="weakLabel"
    [mediumLabel]="mediumLabel"
    [strongLabel]="strongLabel"
    [toggleMask]="toggleMask"
    [feedback]="feedback"
    [maxLength]="maxLength"
    [showClear]="showClear"
    [placeholder]="placeholder"
  >
    <ng-template pTemplate="header">
      <ng-content select="#PasswordRequirmentsDialog"></ng-content>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-divider></p-divider>
      <p class="p-mt-2">Requirements</p>
      <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
        <li>Minimum one lowercase</li>
        <li>Minimum one uppercase</li>
        <li>Minimum one numeric</li>
        <li>Minimum 8 characters</li>
      </ul>
    </ng-template>
  </p-password>
</section>
