@import "./../../constants/constants.scss";

.password__container {
  width: 100%;
  height: 55px;
  margin-top: 20px;
  .password__label{
    width: 100%;
  }
  .password__content {
    display: block;
    

    ::ng-deep .p-component {
      width: 100%;

      .p-inputtext {
        width: 100%;
        border: 2px solid $input-border-color;
        border-radius: 15px;
        font-family: $font-family;
        background-color: $input-background-color;
        &:focus {
          box-shadow: none;
        }
      }
      .p-password-input{
        padding-left: 75px;
      }
      .p-password-panel {
        background-color: $input-background-color;
        box-shadow: 0 0 3px 1px $input-border-color;
      }
      .password__content--lock-icon {
        position: absolute;
        top: 9px;
        font-size: 20px;
        color: $input-main-color;
        padding: 12px 16px;
        border-right: 2px solid $input-border-color;
    }
      .p-password-clear-icon,
      .password__icon {
        padding: 0 22px;
        color: $input-main-color;
      }

      .password__icon {
        top: 22px;
        font-size: 20px;
        padding: 0 16px;
      }
    }


    &--label {
        padding-left: 40px;
        font-family: $font-family;
        color: $input-text-color;
    }
  }
}
