.post {
    cursor: pointer;

    &-content {
        display: flex;
        height: 100%;
        width: 100%;
        gap: 20px;

        &-img {

            flex: 1;
            // padding: 20px;
            height: 100%;

            img {
                // display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-text {
            max-width: 100%;
            position: relative;
            flex: 1;
            padding: 20px;

            .header {
                max-width: 100%;
                font-size: 24px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .subheader {
                margin-bottom: 10px;
                font-style: italic;
            }

            .content {
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .create-by {
                position: absolute;
                right: 20px;
                bottom: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
            }

        }

    }

}

@media (max-width: 679px) {

    .post-content {
        flex-direction: column;
        // height: 25vh;

        &-img img {
            height: 200px;
        }
    }
}

.block-style {
    flex-direction: column;
    gap: 0;

    .post-content-img {
        height: 50%;
    }

    .post-content-text {


        .create-by {

            right: 20px;
            bottom: 10px;

        }

    }
}

// @media (max-height:) {}