@import "./../../../shared/styles/constants.scss";

.password__container {
  width: 100%;

  .password__label{
    width: 100%;
  }

  .p-float-label .p-inputwrapper-focus ~ label{
    color: $input-text-accent;
  }

  .password__content {
    display: block;
    

    ::ng-deep .p-component {
      width: 100%;

      .p-inputtext {
        width: 100%;
        border: 2px solid $input-border-color;
        border-radius: 15px;
        font-family: $font-family;
        background-color: $input-background-color;
        &:focus {
          box-shadow: none;
        }
      }
      .p-password-input{
        padding: 12px 0 12px 70px;
      }
      .p-password-panel {
        background-color: $input-background-color;
        box-shadow: 0 0 3px 1px $input-border-color;
      }
      .password__content--lock-icon {
        position: absolute;
        top: 2%;
        left: 0;
        width: 53px;
        font-size: 20px;
        color: $input-main-color;
        padding: 12px 16px;
        border-right: 2px solid $input-border-color;
    }
      .p-password-clear-icon,
      .password__icon {
        padding: 0 22px;
        color: $input-main-color;
      }

      .password__icon {
        top: 22px;
        font-size: 20px;
        padding: 0 16px;
      }
      eyeicon, eyeslashicon{
        margin-top: -0.5rem;
      }

      .p-password-panel{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }


    &--label {
      margin-top: -0.5rem;
        padding-left: 40px;
        font-family: $font-family;
        color: $input-text-light;
    }
  }
}
