<section class="password__container">
  @if(this.floatLabelText.length == 0){
  <p-password
    class="password__content"
    [(ngModel)]="value"
    promptLabel="Choose a password"
    weakLabel="Too simple"
    mediumLabel="Average complexity"
    strongLabel="Complex password"
    [toggleMask]="true"
    [feedback]="feedback"
    [maxLength]="maxLength"
    [disabled]="disabledPassword"
    id="custom-password" name="custom-password"
    (ngModelChange)="onChange($event)" />
  } @else {
  <span class="p-float-label password__label p-input-icon-left">
    <p-password
      class="password__content"
      id="float-password"
      name="custom-password"
      [(ngModel)]="value"
      promptLabel="Choose a password"
      weakLabel="Too simple"
      mediumLabel="Average complexity"
      strongLabel="Complex password"
      [toggleMask]="true"
      [feedback]="feedback"
      [maxLength]="maxLength"
      [disabled]="disabledPassword"
      (ngModelChange)="onChange($event)" />
    <label for="float-password" class="password__content--label">{{
      floatLabelText
      }}</label>
  </span>
  }
</section>
<p-divider />
