<section class="password__container">
  <div *ngIf="this.floatLabelText.length == 0">
    <p-password class="password__content"
      [(ngModel)]="value"
      promptLabel="Choose a password"
      weakLabel="Too simple" 
      mediumLabel="Average complexity" 
      strongLabel="Complex password"
      [toggleMask]="true"
      [feedback]="feedback"
      [maxLength]="maxLength"
      [disabled]="disabledPassword"
      (ngModelChange)="onChange($event)" />
  </div>
  <div *ngIf="this.floatLabelText.length !=0">
    <span class="p-float-label password__label p-input-icon-left">
      <p-password class="password__content"
        id="float-password"
        [(ngModel)]="value"
        promptLabel="Choose a password"
        weakLabel="Too simple" 
        mediumLabel="Average complexity" 
        strongLabel="Complex password"
        [toggleMask]="true"
        [feedback]="feedback"
        [maxLength]="maxLength"
        [disabled]="disabledPassword"
        (ngModelChange)="onChange($event)" />
      <label for="float-password" class="password__content--label">{{ floatLabelText }}</label>
    </span>
  </div>
</section>
<p-divider />