<section class="inputtextarea-container">
    <div *ngIf="!floatLabel">
        <textarea pInputTextarea [(ngModel)]="value"
        [ariaLabel]="labelText"
        [rows]="size.rows"
        [cols]="size.cols" 
        [autoResize]="autoResize"
        [disabled]="disabled"
        (ngModelChange)="onChange($event)"></textarea>
    </div>
    <div *ngIf="floatLabel">
    <span class="p-float-label">
        <textarea id="float-inputtextarea" pInputTextarea 
        [(ngModel)]="value"
        [rows]="size.rows"
        [cols]="size.cols" 
        [autoResize]="autoResize"
        [disabled]="disabled"
        (ngModelChange)="onChange($event)"></textarea>
        <label for="float-inputtextarea">{{floatLabelText}}</label>
    </span>
    </div>
</section>