<section class="profile">
  <div class="profile__navigation" *ngIf="userData">
    <af-tile [darkMode]="true">
      <div class="profile__navigatio--logo">
        <img src="../../../assets/logo/logoLightText.svg">
      </div>
    </af-tile>
    <af-tile>
      <div class="profile__navigation--information">
        <div class="profile__navigation--information--main">
          <div *ngIf="userData.photo; else defaultAvatar" class="avatar">
            <img class="custom-avatar" [src]="'data:image/jpeg;base64,' + userData.photo" alt="userData Photo" />
          </div>
          <div class="profile__navigation--information--main--fullname">
            <p class="first-name">{{userData.firstName}}</p>
            <p class="last-name">{{userData.lastName}}</p>
          </div>
        </div>
        <div class="profile__navigation--information--other">
          <p class="profile__navigation--information--other--login">{{userData.email}}</p>
          <div class="profile__navigation--information--other--role">
            <ng-container [ngSwitch]="userData.permission">
              <p *ngSwitchCase="'coach'">Trener</p>
              <p *ngSwitchCase="'admin'">Administrator</p>
              <p *ngSwitchDefault>Klient</p>
            </ng-container>
          </div>
        </div>
      </div>
    </af-tile>
    <af-tile>
      <af-profile-menu (BackEmmiter)="undo()" [isAdmin]="userData.permission == 'admin'" />
    </af-tile>
  </div>
  <af-tile class="strech_element--vertically">
    <section class="profile__container">
      <router-outlet></router-outlet>
      <div class="language-changer">
        <af-language-changer [fontSize]="22" />
      </div>
    </section>
  </af-tile>
</section>
<ng-template #noData>
  nie ma danych
</ng-template>
<ng-template #defaultAvatar>
  <div class="avatar">
    <img src="../../../assets/pictures/avatar.png" alt="userData Photo" />
  </div>
</ng-template>
