@import "./../../../shared/styles/constants.scss";

.container{
    margin: 20px 80px;
    .menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}