@import "../../../shared/styles/constants.scss";

.profile__information {
  height: 100%;
  display: flex;
flex-direction: column;
  justify-content: space-between;

  &--left {
    h1 {
      margin-bottom: 10px;
      font-size: 27px;
      font-weight: $font-weight-bold;
    }

    div {
      margin-bottom: 20px;
    }

    h2 {
      font-weight: $font-weight-bold;
      font-size: 18px;
    }

    ul {
      font-weight: $font-weight-normal;
      font-size: 18px;
    }

    li {
      list-style: none;
    }
  }

  .profile__information--right {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding-top: 80px;


    af-button {
      font-size: 18px;
      font-weight: $font-weight-bold;
    }
  }
}

.my-profile__menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.validoation__container {
  position: fixed;
  top: 50px;
  right:20px;
  z-index: 10001;
  }