.container {
  display: grid; 
  grid-template-columns: 0.8fr 1.1fr 1.1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 20px 20px; 
  grid-template-areas: 
    "slajdy panel__login-register panel__login-register"
    "slajdy panel__login-register panel__login-register"
    "slajdy signUs other"; 
  margin: auto;
  max-width: 1000px;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.slajdy {
  grid-area: slajdy;
  border: 1px solid black;
  border-radius: 10px;
}

.panel__login-register {
  grid-area: panel__login-register;
  border: 1px solid black;
  border-radius: 10px;
}

.center__panel{
  display: flex;
    justify-content: center;
    align-items: center;
  height: 50%;
}

.signUs {
  grid-area: signUs;
  border: 1px solid black;
  border-radius: 10px;
}

.other {
  grid-area: other;
  border: 1px solid black;
  border-radius: 10px;
}

button{
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}