<section class="home-page">
  <div class="navi-bar">
    <af-menu-static></af-menu-static>
  </div>
  <section class="home-page__container">
    <div class="home-page__container--logo">
      <img src="../../../assets/logo/logoLightText.svg" alt="logo" />
    </div>
    <div class="home-page__container--gym-pass" id="gym-passes">
      <h2>{{ "homepage.startNow" | translate }}</h2>
      <p class="home-page__container--gym-pass--price-info">
        {{ "homepage.from" | translate }}100zł/msc
      </p>
      <p class="home-page__container--gym-pass--text">
        {{ "homepage.texta1" | translate }}
      </p>
      <af-button
        buttonId="karnety"
        [label]="'button.passess' | translate"
        [whiteButton]="true"
        [fontSize]="35"
        [routerLink]="['/gym-pass']"
        (onClick)="gymPassButton()"></af-button>
    </div>
    <div class="home-page__container--trainers" id="trainers">
      <h2>{{ "homepage.trainers" | translate }}</h2>
      <div class="home-page__container--trainers__sliders">
        <af-tile>
          <div class="home-page__container--trainers__sliders--photos">
            <img src="../../../assets/trainers/trener1.jpg" alt="trener1" />
          </div>
        </af-tile>
        <af-tile>
          <div class="home-page__container--trainers__sliders--text">
            <p>{{ "homepage.texta2" | translate }}</p>
            <p>{{ "homepage.texta3" | translate }}</p>
            <div
              class="home-page__container--trainers__sliders--text__button-trainers">
              <af-button
                buttonId="trenerzy"
                [label]="'homepage.trainers' | translate"
                [fontSize]="40"
                (onClick)="trainersButton()"></af-button>
            </div>
          </div>
        </af-tile>
      </div>
    </div>
  </section>
</section>
