@import "../../../shared/styles/constants.scss";

.container {
  display: flex;
  gap: 30px;
  height: 100%;
  align-items: center;

  .empty {
    height: 100%;
    display: grid;
    place-items: center;
  }

  .tiles {
    width: 70%;
  }

  .menu {
    flex-grow: 1;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .active-training-name {
      color: $input-main-color;
      font-weight: $font-weight-bold;

      .deactive {
        color: $deactive-color;
      }
    }
  }
}