@import "./../../../shared/styles/constants.scss";

.profile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
    min-height: 49vh;

    .navi-item {
      padding: 10px;
      display: flex;
      align-items: center;
      margin: 5px 0;
      cursor: pointer;
      width: 100%;
      transition: .3s;
      border-radius: 10px;
      &:hover{
        background-color: $darker-gray;
        color: $input-text-accent;
      }

      &--bottom {
        width: 100%;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }

    i {
      margin-right: 10px;
    }
  }