@import "../../../shared/styles/constants.scss";;

.gym-pass-page {
  min-height: 100vh;
  background-image: url('../../../../assets/backgrounds/AF-desktop-main-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .navi-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
  }

  .gym-pass__container {
    min-height: 100vh;
    margin-bottom: 50px;

    &--header {
      &-logo {
        padding-top: 100px;
        text-align: center;
        height: 40vh;

        img {
          height: 270px;

        }
      }

      &-text {
        @include header-style;
      }
    }

    .gym-pass-cards {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      gap: 20px;

      .gym-pass-card {
        height: 75vh;
        width: 32%;
      }
    }

    &--gym-pass {
      margin: 0 auto;
      max-width: 1205px;
      font-weight: $font-weight-bold;
    }
  }
}

.quotes {
  color: $input-text-light;
}

@media (orientation: landscape) and (max-width: 1024px) {
  .gym-pass-page {
    .navi-bar {}

    .gym-pass__container {
      &--header {
        &-logo {

          img {
            height: 220px;
          }
        }

        &-text {
          font-size: 77px;
          margin-bottom: 10px;
        }
      }

      .gym-pass-cards {
        max-width: 968px;
        margin: 0 auto;

        .gym-pass-card {
          height: 95vh;
        }
      }

      &--gym-pass {
        margin: 0 auto;
        max-width: 968px;

        h2 {
          color: $input-main-color;
          font-size: 82px;
          margin: 90px 0;
        }

        &__info {
          display: flex;
          gap: 15px;
          margin-bottom: 20px;

          &-text {
            padding: 20px;

            p {
              text-indent: 20px;
              margin-bottom: 10px;
              font-size: 15px;
            }
          }

          &-price {

            height: 100%;

            p:first-of-type {
              color: $input-text-accent;
              font-size: 82px;
            }

            p:last-of-type {
              color: $input-text-accent;
              font-size: 26px;
            }
          }

          af-tile {
            width: 290px;
            height: 290px;

            ::ng-deep .tile_container {
              height: 290px;
            }
          }
        }

        &__details {
          padding: 30px 50px;

          p {
            font-size: 16px;
          }
        }

        &-health {
          margin-bottom: 100px;
        }
      }
    }
  }
}