<section class="footer__container">
  <div class="footer__content">
    <div class="footer__content--info">
      <h3 class="footer_header">
        Ambasada Formy
      </h3>
      <p>
        Jesteśmy grupą osób, której zależy na tym abyś zaliczył progres korzystając z naszej oferty. Pamiętaj jednak, że
        to od twojego zaangażowania wszystko zależy. My dajemy tobie możliwości i odpowiednie narzędzia.
      </p>
    </div>
    <div class="footer__content--contact">
      <h3 class="footer_header">
        Kontakt
      </h3>
      <p>ul. Konstantynów 1H <br>
        20-708 Lublin, Polska</p>
      <p>e-mail <br>
        email@email.com</p>
      <p>Telefony <br>
        +48 000 000 000 <br>
        (00) 000 00 00
      </p>
    </div>
    <div class="footer__content--social-media">
      <h3 class="footer_header">
        Social Media
      </h3>
      <div class="links">
        <a href="https://www.facebook.com/"><i class="pi pi-facebook"></i></a>
      </div>
      <div class="links">
        <a href="https://www.instagram.com/"><i class="pi pi-instagram"></i></a>
      </div>
      <div class="links">
        <a href="https://twitter.com/"><i class="pi pi-twitter"></i></a>
      </div>
    </div>
    <div class="footer__content--links">
      <h3 class="footer_header">
        Linki
      </h3>
      <div class="links">
        <a href="#">Regulamin</a>
      </div>
      <div class="links">
        <a href="#">FAQ</a>
      </div>
    </div>
    <div class="footer__content--map">
      <h3 class="footer_header">
        Lokalizacja
      </h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2497.9966023027428!2d22.500503552408468!3d51.237557459763586!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722583469e163c1%3A0xcd2340f2a6afcce4!2sWydzia%C5%82%20Nauk%20Przyrodniczych%20i%20Technicznych%20KUL!5e0!3m2!1spl!2spl!4v1681305666451!5m2!1spl!2spl"
        width="600" height="180" style="border:0; border-radius: 15px;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>