<div class="container">
  <div class="diets">
    @if(!userData().diets || userData().diets?.length == 0){
    <div class="empty">
      <h2>There is no diets to show</h2>
    </div>
    }
    @else {
    <div class="diets-container">
      @for (diet of userData().diets; track diet.title; let id = $index){
      <af-tile [darkMode]="!(diet.forDelete && removalMode)" (click)="selectForDeletion(diet)">
        <div class="diets-container--single"
          [ngClass]="{'for-delete':diet.forDelete && removalMode, 'removal-mode': removalMode}">
          <h2>{{id + 1}}. {{diet.title}}</h2>
          <h3>{{diet.subtitle}}</h3>
          <i>{{diet.createdAt | date : 'dd/MM/yyyy'}}</i>
          <p>{{diet.description}}</p>
        </div>
      </af-tile>
      }
    </div>
    }
  </div>
  <div class="menu">
    <af-button label="Add diet" (onClick)="addDiet()" />
    @if(userData().diets || userData().diets != null){
    <af-button label="Remove Diet" (click)="activeRemoveMode()" [whiteButton]="removalMode" />
    }
    @if(removalMode){
    <af-button label="Remove" (click)="removeWorkouts()" [disabled]="isDietMarkedForDelete" />
    }
  </div>
  <af-validation-message />
</div>