<section class="input-container">
  <div *ngIf="!floatLabel">
    <span class="{{ iconConfig?.iconFloat }}">
      <i class="pi {{ iconConfig?.iconClassName }}"></i>
      <input id="float-input" type="text" pInputText [(ngModel)]="property" />
    </span>
  </div>
  <div *ngIf="floatLabel">
    <span class="p-float-label" [class]="iconConfig?.iconFloat">
      <i class="pi {{ iconConfig?.iconClassName }}"></i>
      <input id="float-input" type="text" pInputText [(ngModel)]="property" />
      <label for="float-input">{{ floatLabelText }}</label>
    </span>
  </div>
</section>
