@import "../../../stories/constants/constants.scss";

.bg-img {
  background: url('../../../assets/backgrounds/AF-desktop-registerPage-background.png');
  background-size: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .logo-section {
    &__af {
      padding: 50px 0 0 0;
    }

    img {
      width: 300px;
      filter: invert(1);
    }
  }

  .register-section {
    width: 700px;

    af-tile {
      position: relative;

      .register-content {
        width: 400px;
        margin: 0 auto;
        padding: 30px 0 5px;

        .register--gender__selection {
          margin: 20px 0 30px 0;

          &__buttons {
            display: flex;
            gap: 20px;
            align-items: center;

            &--header {
              margin-left: 10px;
              font-size: $checkbox-register;
              font-weight: $font-weight-bold;
            }
            
            &--checkbox{
              ::ng-deep .checkbox--container {
                  label.p-checkbox-label{
                    font-size: $checkbox-register;
                  }
                }
            }
          }
        }
      }
    }

    &__justify {
      width: 100%;
    }
  }

  .button__language{
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .button__return-right {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .button__mid {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
  }
}

.button__mid {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

.box-have-account {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;

  &__reference {
    margin-top: 20px;
    color: $input-main-color;
    cursor: pointer;
  }
}

.validoation__container{
  position: absolute;
  top: 20px;
  right:20px;
  }
