<div class="bg-img">
  <section class="register-container">
    <div class="logo-section">
      <div class="logo-section__af">
        <img src="../../../assets/logo/logoFt_text.svg" alt="test">
      </div>
    </div>
    <div class="register-section">
      <af-tile>
        <div class="button__return-right">
          <af-button iconClassName="pi-undo" iconPos="top" label="Powrót" [transparentButton]="true" (click)="goToWelcomePage()"></af-button>
        </div>
        <div class="register-section__justify">
          <form>
            <div class="form-group">
              <af-input [iconConfig]="loginData" [floatLabel]="true" floatLabelText="imie" type="text" id="imie-input" name="imie"></af-input>
            </div>
            <div class="form-group">
              <af-input [iconConfig]="loginData" [floatLabel]="true" floatLabelText="nazwisko" type="text" id="nazwisko-input" name="nazwisko"></af-input>
            </div>
            <div class="form-group">
              <af-input [iconConfig]="loginData" [floatLabel]="true" floatLabelText="login" type="text" id="login-input" name="login"></af-input>
            </div>
            <div class="form-group">
              <af-input [iconConfig]="loginData" [floatLabel]="true" floatLabelText="e-mail" type="text" id="e-mail-input" name="e-mail"></af-input>
            </div>
            <div class="form-group register--gender__selection">
              <div class="register--gender__selection__buttons">

                <af-radioButtons [categories]="genderArray">
                  <label class="form-label">Płeć</label>
                </af-radioButtons>
              </div>
            </div>
            <div class="form-group">
              <af-input [iconConfig]="passwordData" [floatLabel]="true" floatLabelText="Hasło" type="password" id="password-input" name="password"></af-input>
            </div>
            <div class="form-group">
              <af-input [iconConfig]="passwordData" [floatLabel]="true" floatLabelText="Hasło" type="password" id="repeat-password-input" name="repeat-password"></af-input>
            </div>
            <div class="button__mid">
              <af-button [label]="'Rejestruj'" (click)="goToWelcomePage()"></af-button>
            </div>
          </form>
          <div class="box-have-account">
            <p>Mam już konto <a (click)="goToLogin()">Zaloguj się</a></p>
          </div>
        </div>
      </af-tile>
    </div>
  </section>
</div>
<af-footer></af-footer>
