@import "./../../constants/constants.scss";

p-messages ::ng-deep{
    max-width: 400px;
    .p-messages{
      .p-message{
        background-color: $darker-gray;
        color:$input-background-color;
        border:none;
        padding: 10px 30px;
        &-wrapper{
          display: flex;
          justify-content: space-between;
          gap: 14px;
        }
        &-icon{
          color:$input-main-color;
        }
        &-close{
          color:$input-background-color;
          &:hover{
            background: none;
            color:$input-main-color;
          }
          &:focus{
            box-shadow: none;
          }
        }
        }
      }
    }