<div class="bg-img">
  <section class="register-container">
    <div class="logo-section">
      <div class="logo-section__af">
        <img src="../../../assets/logo/logoFt_text.svg" alt="test" />
      </div>
    </div>
    <div class="register-section">
      <af-tile>
        <div class="button__language">
          <af-language-changer [fontSize]="22" />
        </div>
        <div class="button__return-right">
          <af-button
            iconClassName="pi-undo"
            iconPos="top"
            [label]="'button.back' | translate"
            buttonId="undo"
            [fontSize]="10"
            [iconSize]="18"
            [transparentButton]="true"
            (click)="goToWelcomePage()"
          />
        </div>
        <div class="register-content">
          <form [formGroup]="form">
            <div class="register-section__justify">
              <af-input
                formControlName="firstName"
                id="firstName"
                iconClassName="pi-id-card"
                [floatLabel]="true"
                [floatLabelText]="'registerLogin.firstName' | translate"
              />
              <af-input
                formControlName="lastName"
                id="firstName"
                iconClassName="pi-id-card"
                [floatLabel]="true"
                [floatLabelText]="'registerLogin.lastName' | translate"
              />
              <af-input
                formControlName="phoneNumber"
                id="firstName"
                iconClassName="pi-phone"
                [floatLabel]="true"
                [floatLabelText]="'registerLogin.phoneNumber' | translate"
              />
              <af-input
                formControlName="address"
                id="firstName"
                iconClassName="pi-at"
                [floatLabel]="true"
                [floatLabelText]="'registerLogin.address' | translate"
              />
              <af-input
                formControlName="login"
                id="firstName"
                iconClassName="pi-user"
                [floatLabel]="true"
                [floatLabelText]="'registerLogin.login' | translate"
              />
              <af-input
                formControlName="email"
                id="firstName"
                iconClassName="pi-envelope"
                [floatLabel]="true"
                [floatLabelText]="'registerLogin.email' | translate"
              />
              <div class="register--gender__selection">
                <div class="register--gender__selection__buttons">
                  <p class="register--gender__selection__buttons--header">
                    {{ "registerLogin.gender" | translate }}
                  </p>
                  <div
                    *ngFor="let gender of genderArray; index as id"
                    [attr.data-index]="id"
                  >
                    <af-checkbox
                      (checkedToggler)="getGender($event, id)"
                      [disabled]="genderCheckboxDisabled && !gender.checked"
                      [label]="gender.name"
                      class="register--gender__selection__buttons--checkbox"
                    ></af-checkbox>
                  </div>
                </div>
              </div>
              <af-password
                formControlName="password"
                [floatLabelText]="'registerLogin.password' | translate"
                [feedback]="true"
              />
              <af-password
                formControlName="repeatPassowrd"
                [floatLabelText]="'registerLogin.repeatPassowrd' | translate"
                
              />
              <div class="button__mid">
                <af-button
                type="submit"
                  [label]="'registerLogin.register' | translate"
                  buttonId="register"
                  [fontSize]="30"
                  (click)="submit()"
                />
              </div>
              <div class="box-have-account">
                <p>
                  {{ "registerLogin.haveAccount" | translate }}
                  <a routerLink="/login" class="box-have-account__reference">{{
                    "registerLogin.log_in" | translate
                  }}</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </af-tile>
    </div>
  </section>
</div>

<af-validation-message />