*, body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../assets/backgrounds/background-welcomePage.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}


.homePage-container {
  display: grid;
  grid-template-columns: 0.8fr 1.1fr 1.1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "slajdy panel__login-register panel__login-register"
    "slajdy panel__login-register panel__login-register"
    "slajdy signUs other";
  margin: auto;
  width: 1280px;
}

.slajdy {
  grid-area: slajdy;

  &__content {
  height: 700px;
  background: url('../../../assets/backgrounds/victor-freitas-WvDYdXDzkhs-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  }
}

.panel {
  &__login-register {
    grid-area: panel__login-register;
  }

  &__logo {
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;

    img {
      max-height: 150px;
    }
  }

  &__center {
    display: inline-flexbox;
    padding: 60px;

      &-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        ::ng-deep .button__content{
          .p-button{
            width: 440px;
            // font-size: 27px !important;
            letter-spacing: 2px;
            // padding:  !important;
          }
        }
    }
  }
}

.signUs {
  grid-area: signUs;

  &__content {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 5em;
    text-align: center;
    padding: 10px 85px;
  }
}

.other {
  grid-area: other;

  &__content {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 20px 100px;
    font-size: 3em;
    text-align: center;
  }
}
