<div class="row">
  <section class="homePage-container">
    <af-tile class="slajdy">
      <div class="slajdy__content">
      </div>
    </af-tile>
    <af-tile class="panel__login-register">
      <div class="button__language">
        <af-languageChanger [fontSize]="22"></af-languageChanger>
      </div>
      <div class="panel__logo">
        <img src="../assets/logo/logoColor.svg" alt="Ambasada Formy logo">
      </div>
      <div class="panel__center">
        <div class="panel__center-btn">
          <af-button [label]="'welcomePage.login' | translate" (click)="goToLogin()" buttonId="login" [fontSize]="27"></af-button>
        </div>
        <div class="panel__center-btn">
          <af-button [label]="'welcomePage.register' | translate" (click)="goToRegister()" buttonId="register" [fontSize]="27"></af-button>
        </div>
      </div>
    </af-tile>
    <af-tile [darkMode]="true" class="signUs">
      <h3 class="signUs__content">{{'welcomePage.joinUs' | translate}}</h3>
    </af-tile>
    <af-tile [darkMode]="true" class="other">
      <h3 class="other__content">{{'welcomePage.workEffectsGoals' | translate}}</h3>
    </af-tile>
  </section>
</div>
<af-footer></af-footer>
