.container {
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .content {
    display: flex;
    justify-content: space-between;
    .post {
      max-width: 50%;
      &-content {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .post-actions {
      display: flex;
      gap: 20px;
    }
  }
}
