<section class="container">
  <h2>Total posts: {{ posts().totalRecords }}</h2>
  @for (post of posts().posts; track post.createdAt) {

  <section class="content">
    <div class="post">
      <h3>{{ post.title }}</h3>
      <p class="post-content">{{ post.content }}</p>
    </div>
    <div class="post-actions">
      <af-button (onClick)="editPost(post)" label="edit post" [fontSize]="16" />
      <af-button
        (onClick)="deletePost(post)"
        label="delete post"
        [fontSize]="16"
      />
    </div>
  </section>

  }
</section>
