@import "./../../constants/constants.scss";

section{
 
}
label{
  margin-left: 12px;
}
.radioButtons{
  font-size: 25px;
  &--container{
    display: flex;
    align-items: center;
  
  }
  &--content{
    margin-left: 10px;
  }
}
