 <div class="dropdown">
    <button class="dropdown__button" (click)="dropdownOptionsToggler()">
      <span class="pi pi-language" [style]="'fontSize:' +fontSize +'px'"></span>
    </button>
    <div *ngIf="showDropdownOption" class="dropdown__options">
      <div *ngFor="let item of languages" class="dropdown__options--single-option">
        <span (click)="changeLanguage(item.id)"><img [src]="'../../../assets/backgrounds/flags/'+item.id+'.png'" [alt]="item.name" style="max-width: 18px;">{{item.id.toUpperCase()}}</span>
      </div>
    </div>
  </div>