@import "../../../stories/constants/constants.scss";

.bg-img{
  background: url('../../../assets/backgrounds/background-loginPage.jpg');
  background-size: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  color:$darker-gray;
}

.login-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 20px 0px;
  grid-template-areas:
  "logo-section logo-section logo-section"
  "login-section login-section login-section";
  justify-items: center;
  align-items: stretch;
  height: 100vh;
  
  .logo-section {
  grid-area: logo-section;

    &__af{
      padding: 50px;
    }
    img{
      width: 350px;
      filter: invert(1);
    }
  }

  .login-section {
  grid-area: login-section;
  margin: 5px;
  width: 1000px;

    &__justify {
    padding: 40px 200px;
    width: 100%;
  }
}


  af-tile{
    position: relative;
  }

  .button__return-right {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .button__mid {
    display: flex;
    justify-content:center;
    padding: 20px 20px;
  }


  a {
  margin-top: 20px;
  color: rgb(0, 173, 181);
}
}

.box-forgot{
  width: 100%;
  display: flex;

  &__checkbox{
    width:25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__forgot{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.account-dont-exist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.validoation__container{
  position: absolute;
  top: 20px;
  right:20px;
  }
