<section class="login-container">
    <div class="logo">
      <p class="af-logo"></p>
    </div>
    <div class="login-section">
      <af-tile class="login-section__justify">
        <div class="button__return-right">
          <af-button [label]="'Powrót'" (click)="backToWelcomePage()"></af-button>
        </div>
        <h2>Logowanie</h2>
        <form>
          <div class="form-group">
            <af-input [iconConfig]="loginData" type="text" id="login-input" name="login" [(ngModel)]="login" placeholder="login"></af-input>
          </div>
          <div class="form-group">
            <af-input [iconConfig]="passwordData" type="password" id="password-input" name="password" [(ngModel)]="password" placeholder="hasło"></af-input>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" name="remember" [(ngModel)]="remember"> Zapisz hasło
            </label>
            <a href="#" class="form-group__forgot-password">Nie pamiętasz hasła? Przypomnij hasło</a>
          </div>
          <af-button label="Zaloguj" (click)="onClickLogin()"></af-button>
          <a routerLink="/register">Nie masz konta? Zarejestruj się</a>
        </form>
      </af-tile>
    </div>
    <div class="footer">
      tutej stopka na samym dole
    </div>
</section>
