section{
    display: grid;
    place-items: center;
    height: 100vh;
}

.iconShadow__container {
  cursor: pointer;
  position: relative;

  .iconShadow__content {
    text-decoration: none;
    overflow: hidden;
    color: #dc2743;
    
    .pi{
        color: #222;
        font-size: 60px;
        padding:  2px 5px 0 5px;
        &:hover{
            z-index: 1001;
        }
            
        
    }
      
      &::before {
        font-family: 'primeicons';
        content: "\e908"; // tutaj dana ikonka
        position: absolute;
        top: 0;
        left: 0;
        font-size: 60px;
        height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        border-bottom: 4px solid #dc2743;
        padding: 2px 5px 0 5px;
      }
  }
  &:hover .iconShadow__content::before{
    height: 60px;
  }
}