<section class="gym-pass-page">
    <div class="navi-bar">
        <af-menuStatic></af-menuStatic>
    </div>
    <section class="gym-pass__container">
        <div class="gym-pass__container--header">
            <div class="gym-pass__container--header-logo">
                <img src="../../../assets/logo/logoLightText.svg" alt="logo">
            </div>
            <h2 class="gym-pass__container--header-text">Karnety</h2>
        </div>
        <div class="gym-pass__container--gym-passes">
            <af-tile>
                <div class="gym-pass__container--gym-passes-content">
                <div class="gym-pass__container--gym-passes-content-header">
                    <h3>Karnet Rozwój</h3>
                    <p class="subtitle"><span class="quotes">&bdquo;</span> Nowy rok nowy ja <span class="quotes">&rdquo;</span></p>
                    <p class="price">120zł</p>
                    <p class="type-of-gym-pass">/ opłata miesięczna / subskrypcja /</p>
                </div>
                    <div class="gym-pass__container--gym-passes-content-content">
                        <p><i class="pi pi-check"></i> Dostęp 9:00 - 17:00</p>
                        <p><i class="pi pi-check"></i> 20 wejść na miesiąc</p>
                        <p><i class="pi pi-check"></i> Opłata wpisowa jednorazowa 20zł</p>
                        <p><i class="pi pi-check"></i> Darmowa woda</p>
                    </div>
                    <div class="gym-pass__container--gym-passes-content-button">
                        <af-button label="Zamów Online" buttonId="rozwoj" [fontSize]="30"></af-button>
                    </div>
                </div>
            </af-tile>
            <af-tile>
                <div class="gym-pass__container--gym-passes-content">
                    <div class="gym-pass__container--gym-passes-content-header">
                        <h3>Karnet Zabawa</h3>
                        <p class="subtitle"><span class="quotes">&bdquo;</span> Stały Bywalec <span class="quotes">&rdquo;</span></p>
                        <p class="price">140zł</p>
                        <p class="type-of-gym-pass">/ subskrypcja /</p>
                    </div>
                        <div class="gym-pass__container--gym-passes-content-content">
                            <p><i class="pi pi-check"></i> Nielimitowana ilość wejść</p>
                            <p><i class="pi pi-check"></i> Dostęp 8:00 - 22:00</p>
                            <p><i class="pi pi-check"></i> Gwarancja stałej ceny</p>
                            <p><i class="pi pi-check"></i> Opłata wpisowa jednorazowa 20zł</p>
                            <p><i class="pi pi-check"></i> Zamrożenie karnetu</p>
                            <p><i class="pi pi-check"></i> Anulowanie karnetu</p>
                            <p><i class="pi pi-check"></i> Darmowa woda</p>
                        </div>
                        <div class="gym-pass__container--gym-passes-content-button">
                            <af-button label="Zamów Online" buttonId="zabawa" [fontSize]="30"></af-button>
                        </div>
                    </div>
            </af-tile>
            <af-tile>
                <div class="gym-pass__container--gym-passes-content">
                    <div class="gym-pass__container--gym-passes-content-header">
                        <h3>Karnet Zdrowie</h3>
                        <p class="subtitle"><span class="quotes">&bdquo;</span> Na zdrowie <span class="quotes">&rdquo;</span></p>
                        <p class="price">180zł</p>
                        <p class="type-of-gym-pass">/ subskrypcja /</p>
                    </div>
                        <div class="gym-pass__container--gym-passes-content-content">
                            <p><i class="pi pi-check"></i> Nielimitowana ilość wejść</p>
                            <p><i class="pi pi-check"></i> Dostęp 24h na dobę</p>
                            <p><i class="pi pi-check"></i> Gwarancja stałej ceny</p>
                            <p><i class="pi pi-check"></i> Brak opłaty wpisowej</p>
                            <p><i class="pi pi-check"></i> 3 darmowe treningi do wykorzystania pod okiem trenera personalnego</p>
                            <p><i class="pi pi-check"></i> Zamrożenie karnetu</p>
                            <p><i class="pi pi-check"></i> Anulowanie karnetu</p>
                            <p><i class="pi pi-check"></i> Darmowa woda</p>
                        </div>
                        <div class="gym-pass__container--gym-passes-content-button">
                            <af-button label="Zamów Online" buttonId="zdrowie" [fontSize]="30"></af-button>
                        </div>
                    </div>
            </af-tile>
        </div>
    </section>
    <af-footer></af-footer>
</section>