@import "./../../../shared/styles/constants.scss";

.backdrop {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .spinner ::ng-deep .p-progress-spinner-circle {
        stroke: $input-text-accent !important;
    }
}