<section class="blog">
  <div class="navi-bar">
    <af-menu-static />
  </div>
  @if(!!apiPosts()){
  <section class="blog__container">
    <div class="logo">
      <img src="../../../assets/logo/logoLightText.svg" alt="logo" />
    </div>
    <h2 class="blog__container--header">{{ "blog.posts" | translate }}</h2>
    <af-menu-blog [length]="length" (searchMode)="setSearchMode($event)" />
    <section class="posts">
      @if(apiPosts().posts){ @if(!searchMode){
      <div class="first-post">
        <af-post [post]="apiPosts().posts[0]" />
      </div>
      @for(post of apiPosts().posts | slice:0:4; track post.createdAt){
      <div class="next-four">
        <af-post [post]="post" [blockCartStyle]="true" />
      </div>
      } @for(post of apiPosts().posts | slice:4: (apiPosts().posts.length - 1);
      track post.createdAt){
      <div class="old-post">
        <af-post [post]="post" [blockCartStyle]="true" />
      </div>
      } } @else { @for(post of apiPosts().posts; track post.createdAt){
      <div class="search-mode">
        <af-post [post]="post" />
      </div>
      } } }
    </section>
    <div class="load-more-button">
      <af-button
        [fontSize]="24"
        label="load more"
        (onClick)="loadMore()"
        [disabled]="apiPosts().totalRecords <= apiPosts().posts.length"
      />
    </div>
  </section>
  }
</section>
