<section class="blog">
  <div class="navi-bar">
    <af-menu-static />
  </div>
  @if(!!apiPosts()){
  <section class="blog__container">
    <div class="logo">
      <img src="../../../assets/logo/logoLightText.svg" alt="logo" />
    </div>
    <h2 class="blog__container--header">{{ "blog.posts" | translate }}</h2>
    <af-menu-blog [length]="length" (searchMode)="setSearchMode($event)" />
    <section class="posts">
      @if(apiPosts().posts){ @if(!searchMode){

      <div class="first-post">
        <p>Newest on the blog</p>
        <div>
          <af-post [post]="apiPosts().posts[0]" />
        </div>
      </div>
      <div class="next-four">
        <p>More great reads!</p>
        <div>
          @for(post of apiPosts().posts | slice:1:5; track post.createdAt){
          <af-post [post]="post" [blockCartStyle]="true" />
          }
        </div>
      </div>
      <div class="old-post">
        <p>Older posts</p>
        <div>
          @for(post of apiPosts().posts | slice:5: (apiPosts().posts.length -
          1); track post.createdAt){
          <af-post [post]="post" [blockCartStyle]="true" />
          }
        </div>
      </div>

      } @else { @for(post of apiPosts().posts; track post.createdAt){
      <div class="search-mode">
        <af-post [post]="post" />
      </div>
      } } }
    </section>
    <div class="load-more-button">
      @if(!!apiPosts().posts){
      <af-button
        [fontSize]="24"
        label="load more"
        (onClick)="loadMore()"
        [disabled]="apiPosts().totalRecords <= apiPosts().posts.length"
      />
      }
    </div>
  </section>
  }
</section>
