@import "../shared/styles/constants.scss";

.navi-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1001;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  height: 30vh;

  img {
    height: 270px;

  }
}

.blog {
  background-image: url('../../assets/backgrounds/blogBackgorund.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


  &__container {
    max-width: 1357px;
    margin: 0 auto;
    padding-bottom: 80px;
    min-height: 100vh;

    &--header {
      @include header-style;
    }

    .posts {

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 300px repeat(2, 300px) repeat(auto-fill, 400px);
      gap: 30px;

      .first-post,
      .search-mode {
        grid-column: span 4;
      }

      .next-four {
        grid-column: span 2;
        height: 300px;
      }

      .old-post {
        height: 400px;
      }
    }

    .load-more-button {
      margin-top: 50px;
      display: grid;
      place-items: center;
    }
  }
}

.validoation__container {
  position: fixed;
  top: 90px;
  right: 20px;
}