.navi-bar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.home-page__container{

    height: 100vh;
    background-image: url('../../../assets/backgrounds/background-mainPage.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}