<section class="home-page">
    <div class="navi-bar">
        <af-menuStatic></af-menuStatic>
    </div>
    <section class="home-page__container">
       <div class="home-page__container--logo">
        <img src="../../../assets/logo/logoLightText.svg" alt="logo">
       </div>
       <div class="home-page__container--gym-pass">
        <h2>ZACZNIJ TERAZ</h2>
        <p class="home-page__container--gym-pass--price-info">Już od 100zł/msc</p>
        <p class="home-page__container--gym-pass--text">Naciśnij przycisk karnety, aby sprawdzić naszą ofertę. Wybierz karnet spełniający twoej wymagania. Zaczniej trenować razem z nami, dbaj o swoje zdrowie i formę, a przede wszystkim baw się dobrze. Do zobaczenia na treningu</p>
        <af-button  buttonId="karnety" 
         [label]="'Karnety'" 
         [whiteButton]="true" 
         [fontSize]="35"
         (onClick)="gymPassButton()"></af-button>
       </div>
       <div class="home-page__container--trainers">
        <h2>SPRAWDŹ TRENERÓW</h2>
        <div class="home-page__container--trainers__sliders">
            <af-tile>
                <div class="home-page__container--trainers__sliders--photos">
                    <img src="../../../assets/treners/trener1.jpg" alt="trener1">
                </div>
            </af-tile>
            <af-tile>
               <div class="home-page__container--trainers__sliders--text">
                <p>Nasi trenerzy to pasjonaci i profesjonaliści do tego każdy z nich ma swoją szczególną specjalizację. Do wyboru macie naprawdę porządnych ludzi czy to do cardio, czy dla zwykłych laików. Nie czekaj i sprawdź opis oraz specjalizacje naszych trenerów zapoznaj się z ich stylem może akurat to ktoś idealny dla ciebie. Pamiętaj, że wybór trenera będzie dla ciebie bardzo istotny, dlatego zastanów się, kto ci odpowiada najbardziej, ale nie martw się, jest ich wielu a ty, możesz mieć każdego. Śmiało przejrzyj kilka zdjęć i naciśnij przycisk trenerzy, aby dowiedzieć się jeszcze więcej.</p>
               <p>Pamiętaj, możesz wynająć wielu trenerów. Każdy trener ma inna specjalizacje, zwróć na to uwagę przy wyborze. W zależności od trenera będzie się różnic jego stawka. Informujemy, że trenerzy mogą mieć zajęty czas więc zaplanujcie grafik treningów rozsądnie tak, aby dwie strony były zadowolone.</p>
               <div class="home-page__container--trainers__sliders--text__button-trainers">
                <af-button  buttonId="trenerzy" 
               [label]="'Trenerzy'" 
               [fontSize]="40"
               (onClick)="trainersButton()"></af-button>
               </div>
               </div>
           </af-tile>
        </div>
        
       </div>
    </section>
    <af-footer></af-footer>
</section>