/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/constants.scss";

// html {
//   scroll-behavior: smooth;
// }

body,
* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

.p-dialog {
  border: 2px solid $input-text-accent;
  border-radius: 22px;

  .p-dialog-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
  }

  .p-dialog-content {
    padding: 0 20px 20px 20px ;

    &:last-of-type {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    background: rgba(255, 255, 255, 0.9);
  }

  .p-dialog-footer {
    padding: 0 20px 20px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}