// Fonts
@import url('https://fonts.cdnfonts.com/css/museo');
$font-family: museo;
$font-weight-bold: 700;
$font-weight-normal: 500;

//font Size
$checkbox-register: 14px;

// Colors
$input-border-color: rgba(0, 173, 181, 0.35);
$input-main-color: rgb(0, 173, 181);
$input-text-light: #CCC;
$input-text-dark: #222831;
$input-text-accent: #00adb5;
$background-light: #EEE;
$background-dark: #222831;
$background-accent: #00adb5;
$input-background-color: #fff;
$background-white-opacity: rgba(255,255,255,0.8);
$darker-gray: #222831;
