<div class="container">
  <div class="tiles">
    <af-training-tile
      [activationMode]="activationMode"
      [removalMode]="removalMode" />
  </div>

  <div class="menu">
    <p class="active-diet-name">
      @if(userData().trainings! | activeStatus){
      Active Training is: {{(userData().trainings! | activeStatus).title}}
      }
      @else {
      There is no active training
      }
    </p>
    <af-button label="Add Training" (click)="addWorkout()" />
    @if(userData().trainings || userData().trainings != null){
    <af-button
      label="Remove Training"
      (click)="activeRemoveMode()"
      [whiteButton]="removalMode" />
    <af-button
      label="Active diet"
      (click)="activeActivationMode()"
      [whiteButton]="activationMode" />
    } @if(removalMode){
    <af-button
      label="Remove"
      (click)="removeWorkouts()"
      [disabled]="userData().trainings! | trainingStatus: 'forDelete'" />
    }
    @if(activationMode){
    <af-button
      label="Update"
      (click)="activeTraining()"
      [disabled]="userData().trainings! | trainingStatus: 'active'" />

    }
  </div>
</div>
