<div class="container">
  <div class="tiles">
    <af-training-tile
      [trainings]="trainings()"
      [activationMode]="activationMode"
      [removalMode]="removalMode" />
  </div>

  <div class="menu">
    <p class="active-training-name">
      @if(trainings() | activeStatus){
      Active Training is: {{(trainings() | activeStatus).title}}
      }
      @else {
      <span class="deactive">There is no active training</span>
      }
    </p>
    <af-button label="Add Training" (click)="addWorkout()" />
    @if(trainings() || trainings() != null){
    <af-button
      label="Remove Training"
      (click)="activeRemoveMode()"
      [whiteButton]="removalMode" />
    <af-button
      label="Active diet"
      (click)="activeActivationMode()"
      [whiteButton]="activationMode" />
    } @if(removalMode){
    <af-button
      label="Remove"
      (click)="removeWorkouts()" />
    }
    @if(activationMode){
    <af-button
      label="Update"
      (click)="activeTraining()" />
    }
  </div>
</div>
