@import "./../../../shared/styles/constants.scss";

.navigation_container {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 20px;
  font-family: $font-family;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: $darker-gray;
  color: $input-text-light;
  margin: 0;
  z-index: 1001;
  box-shadow: 0px 0px 32px 16px rgba(34, 40, 49, 0.75);

  &__hamburger {
    display: none;
    cursor: pointer;

    &__options {
      display: none;
      position: absolute;
      min-height: 100vh;
      top: 75px;
      left: -100%;
      background-color: $darker-gray;
      width: 100%;
      text-align: center;
      transition: 0.5s;
      &--active {
        left: 0;
      }

      p {
        padding-top: 10px;
        color: $input-text-accent;
        font-size: 32px;
      }

      &--details {
        display: none;
        p {
          color: $input-text-light;
          padding-right: 10px;
        }
      }

      &--details.active {
        display: block;
        height: auto;
        color: $input-text-light;
      }
    }
  }

  &:hover {
    transition-delay: 0.2s;
  }

  &:hover .navigation_container--details {
    top: 80px;
    box-shadow: 0px 0px 32px 16px rgba(34, 40, 49, 0.75);
  }

  &--logo {
    z-index: 1001;
    background: $darker-gray;
    width: 26%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &__brand {
      &__link {
        &__photo {
          height: 32px;
        }
      }
    }

    &__header {
      h2 {
        font-size: 18px;
        width: 90px;
      }
    }
  }

  .navigation_content {
    background: $darker-gray;
    z-index: 1001;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;

    p {
      font-size: 18px;
      font-weight: $font-weight-bold;
      width: 133px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: $input-text-accent;
      }
    }
  }

  .navigation_fetures {
    background: $darker-gray;
    z-index: 1001;
    display: flex;
    align-items: flex-end;

    &--detail {
      width: 40px;

      &__language {
        display: none;

        button {
          margin: 0 10px;
          cursor: pointer;
          padding: 0;
          background-color: transparent;
          border: none;

          img {
            width: 24px;
          }
        }
      }
    }
  }
}

.navigation_container--details {
  display: flex;
  top: -70vh;
  left: 0;
  position: absolute;
  color: $input-text-light;
  background: $darker-gray;
  width: 100%;
  padding: 0;
  transition: 0.7s;
  max-height: auto;
  z-index: -1001;
  padding-left: 26%;
  gap: 20px;

  p {
    font-size: 18px;
    font-weight: $font-weight-bold;
    padding: 20px 0px;
    width: 133px;
  }

  &__item {
    margin-left: 1px;
    cursor: default;
  }

  &__profile {
    color: $input-text-light;
    font-size: 27px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: end;
    div {
      p {
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: $input-text-accent;
        }
      }
    }
  }

  &__language {
    button {
      margin: 0 10px;
      cursor: pointer;
      padding: 0;
      background-color: transparent;
      border: none;

      img {
        width: 24px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navigation_container {
    justify-content: space-between;
    &__hamburger {
      display: block;

      &__options {
        display: block;
        // height: 140vh;
      }
    }

    &:hover {
      box-shadow: none;
    }

    &:hover .navigation_container--details {
      display: none;
    }

    &--logo {
      &__brand {
        display: none;

        &__link {
          display: none;
        }
      }

      &__header {
        display: none;
      }
    }

    .navigation_content {
      display: none;
    }

    .navigation_fetures {
      margin-left: 15px;
      &--detail {
        i {
          display: none;
        }
        &__language {
          display: block;
        }
      }
    }
  }

  .navigation_container--details {
    display: none;
  }
}

@media (max-width: 942px) {
  .navigation_container {
    height: 70px;
    &__hamburger {
      &__options {
        height: 10000px;
        top: 70px;
      }
    }
  }
}

@media (max-width: 768px) {
  .navigation_container {
    height: 65px;
    &__hamburger {
      &__options {
        top: 65px;
        p {
          font-size: 24px;
        }
      }
    }
  }
}
