<main class="profile__information">
  <h2>
    Hello <span>{{ userData().firstName }}!</span>
  </h2>
  <section class="profile__information--left">
    <section>
      <af-tile>
        <div class="accout">
          <h3>Accout data</h3>
          <p>
            Name:
            <span>{{ userData().firstName }} {{ userData().lastName }}</span>
          </p>
          <p>
            Login: <span> {{ userData().login }}</span>
          </p>
          <p>
            email: <span> {{ userData().email }}</span>
          </p>
          <p>
            address: <span>{{ userData().address }}</span>
          </p>
          <p>
            Phone Number: <span>{{ userData().phoneNumber }}</span>
          </p>
        </div>
      </af-tile>
    </section>
    <section>
      <af-tile>
        <div class="gym-pass">
          <h3>Active Gym Pass</h3>
          <p class="active-pass">
            <span>
              @if(userData().activeGymPass){
              {{
              "gymPass." + userData().gympassName + "Pass" + ".header"
              | translate
              }}
              } @else{
              <span class="no-active">no active gym pass</span> }
            </span>
          </p>
        </div>
      </af-tile>
    </section>
    <section>
      <af-tile>
        <div class="trainer">
          <h3>My trainer</h3>
          <p>It will be availble in future</p>
        </div>
      </af-tile>
    </section>
    <section>
      <af-tile [darkMode]="true">
        <div class="diet">
          <h3>Active Diet</h3>
          <ng-container *ngIf="userData().diets! | activeStatus as activeDiet">
            <p>{{ activeDiet.title }}</p>
          </ng-container>
        </div>
      </af-tile>
    </section>
    <section>
      <af-tile [darkMode]="true">
        <div class="training">
          <h3>Active Training</h3>
          <ng-container
            *ngIf="userData().trainings! | activeStatus as activeTraining">
            <p>{{ activeTraining.title }}</p>
          </ng-container>
        </div>
      </af-tile>
    </section>
    <section>
      <af-tile>
        <div class="progress">
          <h3>Note, Progress, etc.</h3>
          <p>It will be availble in future </p>
        </div>
      </af-tile>
    </section>
  </section>
</main>
<div class="my-profile__menu">
  <af-photo-uploader
    (uploadHandler)="onUpload($event)"
    [customUpload]="true"
    [fontSize]="20" />
  <af-button
    [label]="'Zmień hasło'"
    iconClassName="pi pi-unlock"
    (onClick)="changePassword()" />
  <af-button
    [label]="'Edytuj'"
    iconClassName="pi pi-userData()-edit"
    (onClick)="editProfileData()" />
  <af-button
    [label]="'USUŃ KONTO'"
    iconClassName="pi pi-userData()-minus"
    (onClick)="removeUser()" />
</div>
