<div class="validoation__container">
    <af-messages [closable]="true"></af-messages>
</div>
<form [formGroup]="form" class="password-form">
    <af-password formControlName="oldPassword" [floatLabelText]="'profile.myProfile.changePassword.oldPassword' | translate" />
    <af-password formControlName="newPassword" [floatLabelText]="'profile.myProfile.changePassword.newPassword' | translate"/>
    <af-password formControlName="repeatedNewPassword" [floatLabelText]="'profile.myProfile.changePassword.repeatPassowrd' | translate"/>
    <af-button  class="password-form--submit" type="submit" [disabled]="form.invalid" [label]="'profile.myProfile.changePassword.label' | translate"/>
</form>
