.validoation__container {
    height: 55px;
}
.password-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
    &--submit{
        align-self: center;
    }
}