@if(!isFloatlabel){
<div>
  <p-dropdown
    [(ngModel)]="selected"
    [options]="data"
    [optionLabel]="optionLabelName"
    [placeholder]="placeholder"
    [filter]="filter"
    [filterBy]="filterName"
    [showClear]="showClear"
    [virtualScroll]="virtualScroll"
    [virtualScrollItemSize]="virtualScrollItemSize"
    [disabled]="disabled"
  >
  </p-dropdown>
</div>
} @else {
<div>
  <span class="p-float-label">
    <p-dropdown
      [(ngModel)]="selected"
      [options]="data"
      [optionLabel]="optionLabelName"
      [placeholder]="placeholder"
      [filter]="filter"
      [filterBy]="filterName"
      [showClear]="showClear"
      [virtualScroll]="virtualScroll"
      [virtualScrollItemSize]="virtualScrollItemSize"
      [disabled]="disabled"
    >
    </p-dropdown>
    <label for="float-label">{{ floatText }}</label>
  </span>
</div>
}
